<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.massagedao.mapper.AdminUserMapper">

    <select id="adminLogin" resultType="java.lang.Integer">
        select count(1) from tbl_user_admin where user_name =#{adminCommon.userName} and
                                                  pass_word = #{adminCommon.passWord}
    </select>

    <select id="selectOldPas" resultType="java.lang.Integer">
        select count(1) from tbl_user_admin where pass_word = #{md5}
    </select>
    <update id="changePassword">
        update tbl_user_admin
        <set>
            pass_word = #{md5}
        </set>
    </update>
    <select id="findBusinessManage" resultType="com.massagecommon.entity.BusinessDTO">
        select achievement,user_id,user_name,address,password,DATE_FORMAT(create_time,'%Y-%m-%d') as create_time, phone from tbl_user
        where user_type = #{type}
        <if test="agentId!=null and agentId!=''">
            and provincial_id = #{agentId}
        </if>
        <if test="teacherType!=null and teacherType!=''">
            and teacher_type = #{teacherType}
        </if>
        <if test="userId!=null and userId!=''">
            and parent_id = #{userId}
        </if>
    </select>
    <delete id="deleteBusiness">
        delete from tbl_user
        where user_id = #{userId}
    </delete>
    <insert id="businessAdd">
        insert into tbl_user
                (user_id,user_name,user_type,address,phone,`password`,teacher_type,provincial_id,parent_id)
        value
              (replace(uuid(),'-',''),#{businessDTO.userName} ,#{businessDTO.type} ,#{businessDTO.address} ,#{businessDTO.phone} ,#{businessDTO.password} ,#{businessDTO.teacherType},#{businessDTO.id},#{businessDTO.userId})
    </insert>
    <update id="updateBusiness">
        update tbl_user
        <set>
            user_name = #{businessDTO.userName} ,
            <if test="businessDTO.address != null and businessDTO.address != ''">
                address = #{businessDTO.address} ,
            </if>
            phone = #{businessDTO.phone} ,
            `password` = #{businessDTO.password}
        </set>
        where user_id = #{businessDTO.userId}
    </update>
    <select id="findOneClassification" resultType="com.massagecommon.entity.ProjectEntity$ProjectFour">
        select project_id, project_name , project_img , rotation_chart , rotation_video,total_times,every_times , price from tbl_project
        where parent_id = #{projectId}
    </select>
    <update id="updOneClassification">
        update tbl_project
        <set>
            project_img = #{projectImg}
        </set>
        where project_id = #{projectId}
    </update>
    <select id="showClassification" resultType="com.massagecommon.entity.ProjectEntity$ProjectFour">
        select project_name , project_img , rotation_chart ,text, rotation_video,total_times,every_times , price from tbl_project
        where project_id = #{projectId}
    </select>
    <update id="updateClassificationProject">
        update tbl_project
        <set>
            rotation_video = #{projectFour.rotationVideo} ,
            rotation_chart = #{projectFour.rotationChart} ,
            total_times  = #{projectFour.totalTimes} ,
            every_times = #{projectFour.everyTimes} ,
            price = #{projectFour.price} ,
            text = #{projectFour.text}
        </set>
        where project_id = #{projectFour.projectId}
    </update>
    <select id="findEquipment" resultMap="findEquipment">
        select number,equipment_id,tbl_user.user_name,DATE_FORMAT(start_time,'%Y-%m-%d') as start_time,experience_time,custom_time
                ,status,add_equipment , teacher_id as teacherId
        from tbl_equipment , tbl_user
        where tbl_equipment.business_id = tbl_user.user_id
          <if test="equipmentId != null and equipmentId != ''">
              and equipment_id like concat('%',#{equipmentId} ,'%')
          </if>
        <if test="userName != null and userName != ''">
              and user_name like concat('%',#{userName} ,'%')
          </if>
    </select>
    <resultMap id="findEquipment" type="com.massagecommon.entity.EquipmentEntity$EquipmentDTO">
        <result column="number" property="number"/>
        <result column="equipment_id" property="equipmentId"/>
        <result column="user_name" property="userName"/>
        <result column="start_time" property="startTime"/>
        <result column="experience_time" property="experienceTime"/>
        <result column="custom_time" property="customTime"/>
        <result column="status" property="status"/>
        <result column="add_equipment" property="addEquipment"/>
        <collection property="teacherName" javaType="String" column="{teacherId=teacherId}"
                    select="selectTeacherName"></collection>
    </resultMap>
    <select id="selectTeacherName" resultType="java.lang.String">
        select user_name from tbl_user where user_id = #{teacherId}
    </select>

    <select id="selectTeacherName1" resultType="java.lang.String">
        select user_name from tbl_user where phone = #{teacherId} and user_type = 2 limit 1
    </select>
    <update id="upEquipment">
        update tbl_equipment
        <set>
            status = #{status}
        </set>
        where equipment_id = #{equipmentId}
    </update>
    <insert id="addEquipment">
        insert into tbl_equipment
                (equipment_id,business_id,start_time,experience_time,custom_time,time_id,surplus_time)
        value
              (#{equipmentDTO.equipmentId} ,#{equipmentDTO.userName}
                      ,#{equipmentDTO.startTime} ,#{equipmentDTO.experienceTime}
                      ,#{equipmentDTO.customTime} ,#{equipmentDTO.id} ,#{equipmentDTO.experienceTime}+#{equipmentDTO.customTime});
    </insert>
    <select id="findOrder" resultMap="findOrder">
        select  times,total_times,number_id  ,order_name,order_type,price,DATE_FORMAT(tbl_order.create_time,'%Y-%m-%d') AS create_time,tbl_order.user_name,tbl_order.user_phone,tbl_user.user_name AS s,
        teacher_id AS teacherId
        , remarks , tbl_order.parent_id as parentId from tbl_user , tbl_order
        where tbl_user.user_id = tbl_order.business_id
        and business_id = #{userId}
        <if test='orderName != null and orderName != "" and orderName != "固定" and orderName != "自定"'>
            and order_name like concat('%',#{orderName} ,'%')
        </if>
        <if test='projectName != null and projectName != "" and projectName != "固定" and projectName != "自定"'>
            and tbl_order.user_name like concat('%',#{projectName} ,'%')
        </if>
        <if test='orderName != null and orderName == "固定"'>
            and order_type = 0
        </if>
        <if test='orderName != null and orderName == "自定"'>
            and order_type = 1
        </if>
        order by create_time desc
    </select>
    <resultMap id="findOrder" type="com.massagecommon.entity.OrderEntity">

        <result property="id" column="number_id"/>
        <result property="orderName" column="order_name"/>
        <result property="orderType" column="order_type"/>
        <result property="price" column="price"/>
        <result property="createTime" column="create_time"/>
        <result property="userName" column="user_name"/>
        <result property="userPhone" column="user_phone"/>
        <result property="businessId" column="s"/>
        <result property="totalTimes" column="total_times"/>
        <result property="times" column="times"/>
        <result property="temainingTimes" column="temainingTimes"/>
        <result property="remarks" column="remarks"/>
        <result property="parentId" column="parentId"/>

        <collection property="teacherId" javaType="String" column="{teacherId=teacherId}"
                    select="selectTeacherName1"></collection>
    </resultMap>
    <select id="exportExcelByUser" resultMap="findOrder">
        select number_id  ,order_name,if(order_type = 0 ,'固定模式','自定义模式') as remarks,price,DATE_FORMAT(tbl_order.create_time,'%Y-%m-%d') AS create_time,tbl_order.user_name,tbl_order.user_phone,tbl_user.user_name AS s, teacher_id as teacherId
        , total_times - times as temainingTimes
        from tbl_user , tbl_order
        where  tbl_user.user_id = tbl_order.business_id AND
        number_id in
        <foreach collection="id" item="id" index="index" separator="," open="(" close=")">
            #{id}
        </foreach>
    </select>
    <update id="updateOrder">
        update tbl_order
        <set>
            total_times = #{totalTimes}
        </set>
        where number_id = #{id}
    </update>
    <select id="isEquipment" resultType="java.lang.Integer">
        select count(1) from tbl_equipment where equipment_id = #{equipmentId}
    </select>
    <update id="settleBusiness">
        update tbl_user
        <set>
            achievement = 1
        </set>
        where user_id = #{userId}
    </update>

    <select id="exportExcelByTeacherManage" resultMap="exportExcelByTeacherManage">
        select number_id,order_name,price,total_times,      DATE_FORMAT(create_time,'%Y-%m-%d') as create_time,business_id,user_name,teacher_id,remarks from tbl_order
        where

        DATE_FORMAT(create_time,'%Y-%m-%d')

        BETWEEN

        DATE_FORMAT(#{date},'%Y-%m-%d')

        AND

        DATE_FORMAT(#{endDate},'%Y-%m-%d')

        and

        teacher_id in
        <foreach collection="id" item="id" index="index" separator="," open="(" close=")">
            #{id}
        </foreach>
    </select>
    <resultMap id="exportExcelByTeacherManage" type="com.massagecommon.entity.TeacherOrderDTO">
        <result column="number_id" property="orderId"/>
        <result column="order_name" property="orderName"/>
        <result column="price" property="price"/>
        <result column="total_times" property="totalTimes"/>
        <result column="create_time" property="createTime"/>
        <result column="user_name" property="userName"/>
        <result column="status" property="status"/>
        <result column="remarks" property="remarks"/>
        <result column="type" property="type"/>
        <result column="give" property="give"/>
        <collection property="teacherName" javaType="String" column="{teacherId=teacher_id}"
                    select="selectTeacherName1"></collection>
        <collection property="businessName" javaType="String" column="{teacherId=business_id}"
                    select="selectTeacherName"></collection>
    </resultMap>

    <select id="exportExcelByBusinessManage" resultType="com.massagecommon.entity.TeacherOrderDTO$BusinessOrderDTO">
        select if(type = 0 ,'固定模式','自定义模式') as type,sum(price) as price,business_name as businessName,sum(`time`) as time,count(0) as count from tbl_record

        where

        DATE_FORMAT(create_time,'%Y-%m-%d')

        BETWEEN

        DATE_FORMAT(#{date},'%Y-%m-%d')

        AND

        DATE_FORMAT(#{endDate},'%Y-%m-%d')

        and

        business_id in
        <foreach collection="id" item="id" index="index" separator="," open="(" close=")">
            #{id}
        </foreach>
        GROUP BY type , business_name
    </select>

    <update id="updateName">
        update tbl_user
        <set>
            user_name = #{name}
        </set>
        where phone like concat('%',right(#{userName} , 4))
    </update>

    <update id="updateOrderName">
        update tbl_order
        <set>
            user_name = #{name}
        </set>
        where user_phone like concat('%',right(#{phone} , 4))
    </update>
    <update id="updateRange">
        update tbl_price_range
        <set>
            <if test="field == 'maxPrice'">
                max_price = #{value}
            </if>
            <if test="field == 'minPrice'">
                min_price = #{value}
            </if>
            <if test="field == 'totalTimes'">
                total_times = #{value}
            </if>
            <if test="field == 'everyTime'">
                every_time = #{value}
            </if>
        </set>
        where id = #{id}
    </update>

    <delete id="deleteOrder">
        delete from tbl_order
        where number_id = #{id}
    </delete>

    <select id="exportExcelByBusinessManageAchievement" resultMap="exportExcelByTeacherManage">
        select if(order_type = 0 ,'固定模式','自定义模式') as type, number_id,order_name,price,total_times,      DATE_FORMAT(create_time,'%Y-%m-%d') as create_time,business_id,user_name,teacher_id,remarks , if(parent_id = 0 ,'主订单','赠送订单') as give from tbl_order
        where

        DATE_FORMAT(create_time,'%Y-%m-%d')

        BETWEEN

        DATE_FORMAT(#{date},'%Y-%m-%d')

        AND

        DATE_FORMAT(#{endDate},'%Y-%m-%d')

        and

        business_id in
        <foreach collection="id" item="id" index="index" separator="," open="(" close=")">
            #{id}
        </foreach>
    </select>
    <select id="findProvincial" resultType="com.massagecommon.entity.ProvincialEntity">
        select pid as id,Provincial as provincialName from tbl_provincial
    </select>
    <select id="findRangeList" resultType="com.massagecommon.entity.RangeDTO">
        select id,max_price as maxPrice,min_price as minPrice,total_times as totalTimes,every_time as everyTime,`name` from tbl_price_range
        where provincial_id = #{id}
    </select>

</mapper>