<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.massagedao.mapper.ExternalMapper">

    <insert id="addOrderByPlace">
        insert into tbl_private_order
        (device_number,scheme_code,scheme_name,total_number,total_time,did_number,state,teacher_id,amount,remarks,user_id,`name`,phone)
        values
        (#{externalUser.device_number},#{externalUser.scheme_code},#{externalUser.scheme_name}
        ,#{externalUser.total_number}
        ,#{externalUser.total_time}
        ,#{externalUser.did_number}
        ,#{externalUser.state}
        ,#{placeOrderModel.teacherId}
        ,#{placeOrderModel.amount}
        ,#{placeOrderModel.remarks}
        ,#{placeOrderModel.userId}
        ,#{placeOrderModel.name}
        ,#{placeOrderModel.phone}
        )
    </insert>
    <insert id="addEquipment">
        insert into
        tbl_teacher_eq
        (teacher_id,business_id,equipment_id)
        values
        (#{teacherId},#{businessId},#{equipmentId})
    </insert>
    <insert id="privateAddEquipment">
        insert into tbl_private_eq
        (device_number,business_id,state)
        values
        (#{equipmentId},#{userName},0)
    </insert>
    <update id="updateDidNumber">
        update tbl_private_order
        <set>
            did_number = did_number+1
        </set>
        where order_id = #{orderId} and user_id = #{userId}
    </update>
    <select id="only" resultType="java.lang.Integer">
        select count(1) from tbl_private_order
        where scheme_code = #{scheme_code}
    </select>
    <select id="getEqList" resultType="java.lang.String">
        select equipment_id from tbl_teacher_eq where teacher_id = #{teacherId}
    </select>
    <select id="getOrderListByTeacherId" resultType="java.util.Map">
        select scheme_name,`name`,phone,amount,remarks,teacher_id ,create_time,state from tbl_private_order
        <where>
            teacher_id = #{placeOrderModel.teacherId}
            <if test="placeOrderModel.name != null and placeOrderModel.name != ''">
                and `name` like concat(#{placeOrderModel.name},'%')
                or `phone` like concat(#{placeOrderModel.phone},'%')
            </if>
            <if test="placeOrderModel.phone != null and placeOrderModel.phone != ''">
                and `phone` like concat(#{placeOrderModel.phone},'%')
            </if>
        </where>
        order by create_time desc
    </select>
    <select id="getBusinessEqList" resultType="java.util.Map">
        select id,device_number from tbl_private_eq where business_id = #{businessId}
        and state = 0
    </select>
    <select id="getEqListBydeviceNumber" resultType="java.util.Map">
        select teacher_id from tbl_teacher_eq where equipment_id = #{device_number}
    </select>
    <select id="getEqByUserId" resultType="java.lang.String">
        select device_number from tbl_private_order  where user_id = #{userId}
    </select>
    <select id="findBusinessName" resultType="java.util.Map">

        select user_id , user_name from tbl_user where user_type = 1 and user_id in (
        select business_id from tbl_teacher_eq where
        equipment_id in
        <foreach collection="id" item="id" index="index" separator="," open="(" close=")">
            #{id}
        </foreach>
        )
    </select>
    <select id="getEqShowIdByEqId" resultType="java.util.Map">
        select id,device_number from tbl_private_eq where
        device_number in
        <foreach collection="id" item="id" index="index" separator="," open="(" close=")">
            #{id}
        </foreach>
        and state = 0
    </select>
    <select id="getConsumedOrder" resultType="java.util.Map">
        select order_id as orderId,scheme_name as schemeName, total_number as totalNumber, did_number as didNumber, create_time as createTime,
              amount,remarks
         from tbl_private_order where did_number != 0 and state in (1,2) and user_id = #{userId}
    </select>

    <select id="getNotConsumedOrder" resultType="java.util.Map">
        select order_id as orderId,scheme_name as schemeName, total_number as totalNumber, (total_number - did_number)  as didNumber, create_time as createTime,
        amount,remarks
        from tbl_private_order where
        10 > did_number
        and
         state in (1,2) and user_id = #{userId}
    </select>
    <select id="eqStatus" resultType="java.lang.Integer">
        select state from tbl_private_eq where device_number = #{eqId}
    </select>
    <select id="getNotConsumedOrderCount" resultType="java.lang.Integer">
        select (total_number - did_number) as count from tbl_private_order where user_id = #{userId} and order_id = #{orderId}
    </select>
    <select id="findDeviceNumber" resultType="java.lang.String">
        select scheme_code from tbl_private_order where order_id = #{orderId}
    </select>
    <select id="getBusinessNameByEqId" resultType="java.lang.String">
        select tbl_user.user_name from tbl_user , tbl_private_eq
        where business_id = user_id
        and device_number = #{device_number}
    </select>
</mapper>