<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.massagedao.mapper.UserMapper">

<!--    /*and open_id = #{userEntity.openId,jdbcType=VARCHAR}*/-->
   <!-- user_name = #{userEntity.userName,jdbcType=VARCHAR}
    and phone like concat('%',right(#{userEntity.userPhone,jdbcType=VARCHAR} , 4))
    and-->
    <!--and open_id = #{userEntity.openId,jdbcType=VARCHAR}-->
    <select id="isRegister" resultType="com.massagecommon.entity.UserEntity">
        select user_id as userId,user_name as userName,phone as userPhone from tbl_user where user_type = 0
        limit 1
    </select>
    <!--/*#{userEntity.openId}*/-->
    <insert id="register">
        insert into tbl_user
                (user_id,user_name,user_type,phone,open_id)
        value
              (replace(uuid(),'-',''),#{userEntity.userName} ,0,#{userEntity.userPhone} ,#{userEntity.openId});
    </insert>
    <insert id="register2">
        insert into tbl_user
                (user_id,user_name,user_type,phone,open_id)
        value
              (replace(uuid(),'-',''),#{userEntity.userName} ,0,#{userEntity.userPhone} ,'111');
    </insert>

    <insert id="register3">
        insert into tbl_user
                (user_id,user_name,user_type,phone,open_id)
        value
              (#{userEntity.userId},#{userEntity.userName} ,0,#{userEntity.userPhone} ,'111');
    </insert>
    <select id="findOrder" resultType="com.massagecommon.entity.UserOrderEntity">
        select number_id as numberId, order_id as orderId, order_name as orderName, order_type as orderType,price as price,total_times as totalTimes,times as times,DATE_FORMAT(create_time,'%Y-%m-%d') as createTime , parent_id AS parentId
        from tbl_order
        where user_name = #{userEntity.userName} and user_phone like concat('%',right(#{userEntity.userPhone} , 4))
        and business_id = #{userEntity.businessId}
        and times != 0
    </select>
    <select id="userOrder" resultType="com.massagecommon.entity.UserOrderEntity">
        select number_id as numberId, order_id as orderId, order_name as orderName, order_type as orderType,price as price,total_times as totalTimes,total_times - times as times,DATE_FORMAT(create_time,'%Y-%m-%d') as createTime
        ,every_time AS  everyTime , equipment_id as equipmentId , parent_id AS parentId
        from tbl_order
        where total_times &gt; times and user_name = #{userEntity.userName} and user_phone like concat('%',right(#{userEntity.userPhone} , 4))
          and business_id = #{userEntity.businessId}
    </select>
    <!--/*and open_id = #{userEntity.openId}*/-->
    <select id="loginBusiness" resultType="com.massagecommon.entity.UserEntity">
        select user_id as businessId,user_name as userName  from tbl_user
        where user_id = #{userEntity.businessId} and `password` = #{userEntity.password}
        and user_type = 1
    </select>
    <insert id="submitOrder">
        <selectKey keyProperty="orderEntity.parentId" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID() as parentId
        </selectKey>

        insert into tbl_order
                (order_id,order_name,order_type,price,total_times,business_id,user_name,user_phone,
                 project_time,every_time,equipment_id,teacher_id,remarks)
        value
              (#{orderEntity.id} ,#{orderEntity.orderName} ,#{orderEntity.orderType} ,#{orderEntity.price}
                      ,#{orderEntity.totalTimes} ,#{orderEntity.businessId} ,#{orderEntity.userName} ,#{orderEntity.userPhone}
                      ,#{orderEntity.projectTime} ,#{orderEntity.everyTime} ,#{orderEntity.equipmentId},#{orderEntity.teacherId}  ,#{orderEntity.remarks});

    </insert>

    <insert id="giveOrder">
        insert into tbl_order
                (order_id,order_name,order_type,price,total_times,business_id,user_name,user_phone,
                 project_time,every_time,equipment_id,teacher_id,remarks,parent_id)
        value
              (#{orderId},#{orderEntity.giveOrderName} ,#{orderEntity.orderType} ,0
                      ,#{orderEntity.giveTotalTimes} ,#{orderEntity.businessId} ,#{orderEntity.userName} ,#{orderEntity.userPhone}
                      ,#{orderEntity.giveProjectTime} ,#{orderEntity.giveEveryTime} ,#{orderEntity.equipmentId},#{orderEntity.teacherId}  ,#{orderEntity.remarks},#{orderEntity.parentId});

    </insert>
    <!--/*  and open_id = #{userEntity.openId}*/-->
    <select id="loginTeacher" resultType="com.massagecommon.entity.UserEntity">
        select user_id,user_name,phone,teacher_type as teacherType , provincial_id as provincialId from tbl_user
        where phone = #{userEntity.userPhone} and password = #{userEntity.password} and user_type = #{userEntity.type}
    </select>
    <update id="sendOrder">
        update tbl_order
        <set>
            times = times+1,
            order_id = #{s}
        </set>
        where number_id = #{numberId}
    </update>
    <select id="findOrderByBusiness" resultType="java.lang.String">
        select time_id from tbl_equipment where equipment_id = #{equipmentId}
    </select>
    <update id="updateTime">
        update tbl_equipment
        <set>
            surplus_time = (experience_time+custom_time) - #{s}
        </set>
        where equipment_id = #{equipmentId}
    </update>
    <select id="businessSendOrder" resultType="com.massagecommon.entity.EquipmentEntity$EquipmentDTO">
        select time_id as number,surplus_time as startTime from tbl_equipment
        where equipment_id = #{equipmentId}
    </select>
    <select id="selectVersion" resultType="java.lang.Integer">
        select times from tbl_order where number_id = #{numberId}
    </select>
    <select id="selectTotal" resultType="java.lang.Integer">
        select total_times from tbl_order where number_id = #{numberId}
    </select>
    <select id="orderUser" resultType="com.massagecommon.entity.BusinessEntity">
        select user_id as businessId, user_name as businessName from tbl_user
        where user_type = 1 and user_id in (
                                           select DISTINCT business_id from tbl_order
                                           where user_name = #{userEntity.userName,jdbcType=VARCHAR}
                                             and user_phone like concat('%',right(#{userEntity.userPhone,jdbcType=VARCHAR} , 4)))
    </select>
    <select id="getbusinessList" resultType="com.massagecommon.entity.BusinessEntity">
        select user_id as businessId, user_name as businessName from tbl_user
        where user_type = 1 and `password` = #{password}
    </select>
    <select id="isRegister1" resultType="com.massagecommon.entity.UserEntity">
        select open_id as openId,user_id as userId,user_name as userName,phone as userPhone from tbl_user where user_name = #{userEntity.userName,jdbcType=VARCHAR}
                                                                                          and phone like concat('%',right(#{userEntity.userPhone,jdbcType=VARCHAR} , 4))
                                                                                          and user_type = 0
        limit 1
    </select>
    <select id="teacherIsExist" resultType="java.lang.Integer">
        select count(1) from tbl_user
        where phone = #{teacherId} and  user_type = 2
    </select>
    <update id="updateOpenId">
        UPDATE tbl_user
        <set>
            open_id = #{userEntity.openId,jdbcType=VARCHAR}
        </set>
        where user_name = #{userEntity.userName,jdbcType=VARCHAR}
        and phone like concat('%',right(#{userEntity.userPhone,jdbcType=VARCHAR} , 4))
        and user_type = 0
    </update>
</mapper>